@page
@model Worldbuilder.Pages.CategoryTypes.DetailsModel

@{
    ViewData["Title"] = @Html.DisplayFor(model => model.CategoryType.Name);
}

<h1> @Html.DisplayFor(model => model.CategoryType.Name)</h1>

<div>
    <h4>Category Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryType.Categories)
        </dt>
        <dd class="col-sm-10">
            @if (Model.CategoryType.Categories != null)
            {
                @foreach (var category in Model.CategoryType.Categories)
                {
                    <text>| </text>
                    <a asp-page="/Categories/Details" asp-route-id="@category.Id">
                        @Html.DisplayFor(modelItem => category.Name)
                    </a>
                    <text> |</text>
                }
            }

        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.CategoryType.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.CategoryType.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
