@page
@model Worldbuilder.Pages.CategoryTypes.IndexModel

@{
    ViewData["Title"] = "Category types";
}

<h1>Category types</h1>

<p>
    <a asp-page="Create">Create new category type</a>
</p>

<form>
    <p>
        Look for: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.NameSort">
                    @Html.DisplayNameFor(model => model.CategoryType[0].Name)
                </a>
            </th>
            <th>
                <a asp-page="./Index" asp-route-sortOrder="@Model.CategorySort">
                    @Html.DisplayNameFor(model => model.CategoryType[0].Categories)
            </a>
                    </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.CategoryType)
        {
            <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    @foreach(var cat in item.Categories)
                    {
                        <text>|</text>
                        <a asp-page="../Categories/Edit" asp-route-id="@cat.Id">
                            @Html.DisplayFor(itemCategory => cat.Name)
                        </a>
                        <text>| </text>

                    }

                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
